<%- include("header"); -%>
      <!-- About Section -->
      <section class="about-section">

        <div class="row about-row">

            <div class="col">
                <h1>About The Institute</h1>
                <p>HMR Institute of Technology & Management was established in the year 2002. It is spread over
                    sprawling lush green campus 5 acres of land. HMRITM exists for nurturing the Technical Spirit -
                    conceived in 2002, to provide exceptional facilities for students of Engineering and Technology, the
                    HMR Institute of Technology and Management boasts of being among the reputed institutes even in its
                    early stages. The Institute recognises the need for bringing up a new age cerebral workforce in
                    today's highly competitive environment.
                    The name HMR stands for the founders of this institution Late Sh. Hiralal, Late Smt. Mohan Devi and
                    Late Smt. Rita Gupta The Institute provides an atmosphere that ensures academic excellence and
                    industry exposure that helps equip the students with the technical skills and emotional intelligence
                    to successfully grapple with the complexities of a dynamic technology-driven environment. This
                    endeavour is greatly aided by the local on of the institute in Delhi that is home to several
                    corporate houses and industries.
                    The institute stands for quality embedded higher education at par with global standard and an
                    excellent learning environment backed by innovative state-of-the-art infrastructure. Further, it
                    aims to add greater value to the world of crucial engineering developments and technological
                    breakthroughs through an active focus on research and development activities. With a bird’s eye-view
                    of all-encompassing development, it strives to achieve faster progress for students, and for itself.
                </p>

                <div class="col">
                  <img class="" src="college-picture.jpg" alt="">
                </div>
            </div>

            
        </div>

    </section>


<%- include("footer"); -%>
