<%- include("header"); -%>
<section class="call-for-papers-section">



           <div class="call-for-papers-content">
               <h1>Call For Paper</h1>
               <p>Prospective authors are invited to contribute high-quality papers by the submission deadline through
                   the online submission system. The submission of a paper implies that the paper is original and has
                   not been submitted under review or is not copyright-protected elsewhere and will be presented by an
                   author if accepted. All submitted papers will be refereed by experts in the field based on the
                   criteria of originality, significance, quality and clarity. The authors of accepted papers will have
                   an opportunity to revise their papers and take consideration of the referees' comments and
                   suggestions. Application domains include (but are not limited to):</p>
               <ul>
                   <li>Smart Mobility - An intelligent way to a Smart World</li>
                   <li>Intelligent Robots & Control System</li>
                   <li>Artificial Intelligence and Machine Learning</li>
                   <li>Cybersecurity</li>
                   <li>Autonomic and Trusted Computing</li>
                   <li>Big Data</li>
                   <li>Biomedical Informatics and Computation</li>
                   <li>Cloud Computing</li>
                   <li>Computer Architecture</li>
                   <li>Computer Games and Animation</li>
                   <li>Computer Graphics and Design</li>
                   <li>Computer vision</li>
                   <li>Crowdsourcing and Information Retrieval (Big Data) and many more</li>
                   <li>Data Compression</li>
                   <li>Distributed and parallel systems</li>
                   <li>Embedded Computing</li>
                   <li>Green Computing</li>
               </ul>

               <h1 id="track">Track 1</h1>
               <h2>Machine Learning</h2>

               <p>deep learning and neural learning
ensemble methods
evolutionary learning and nature inspired learning
large margin and kernel methods
learning from multiple or partial labeling
learning in games and multi-agent systems
learning theory
machine learning applications
new problems
probabilistic models and methods
reinforcement learning and on-line learning
relation learning and graphs
unsupervised learning
</p>

<h1>Track 2</h1>
<h2>
Artificial intelligence</h2>

<p>Artificial Intelligence Applications
Artificial Neural Networks (Multi Layer FF) Spiking
Artificial Neural Networks
 Deep Learning
 Neural Networks
 Fuzzy Logic
 Expert Systems
 Computational Intelligence
 Natural Language Processing
 Data Mining
  Biometrics
 Sentiment Analysis

</p>


<h1>Track 3</h1>
<h2>Cyber Security</h2>

<p>Cyber Security
Critical infrastructure security.
Application security.
Network security.
Cloud security.
Internet of Things (IoT) security
Cybercrime

</p>




           </div>

       </div>

   </section>


<%- include("footer"); -%>
