<%- include("header"); -%>
<section class="body-background">


    <section class="m-auto body-text-background-other">

      <section class="spacing-responsive py-4">
        <div class="row mx-0">
          <div class="col">
            <h2 class="text-center"><strong>Call For The Paper</strong></h2>
            <p class="text-center">
              Prospective authors are invited to contribute high-quality papers by the submission deadline through the
              online submission system. The submission of a paper implies that the paper is original and has not been
              submitted under review or is not copyright-protected elsewhere and will be presented by an author if
              accepted. All submitted papers will be refereed by experts in the field based on the criteria of
              originality, significance, quality and clarity. The authors of accepted papers will have an opportunity to
              revise their papers and take consideration of the referees' comments and suggestions. Application domains
              include (but are not limited to):
            </p>
            <ul>
              <li>Smart Mobility - An intelligent way to a Smart World</li>
              <li>Intelligent Robots & Control System</li>
              <li>Artificial Intelligence and Machine Learning</li>
              <li>Cybersecurity</li>
              <li>Autonomic and Trusted Computing</li>
              <li>Big Data</li>
              <li>Biomedical Informatics and Computation</li>
              <li>Cloud Computing</li>
              <li>Computer Architecture</li>
              <li>Computer Games and Animation</li>
              <li>Computer Graphics and Design</li>
              <li>Computer vision</li>
              <li>Crowdsourcing and Information Retrieval (Big Data) and many more</li>
              <li>Data Compression</li>
              <li>Distributed and parallel systems</li>
              <li>Embedded Computing</li>
              <li>Green Computing</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="px-4 pb-4">
        <div class="row mx-0">
          <h2 class="text-center"><strong>Tracks</strong></h2>
          <div class="col">

            <h3 class="text-center">Track 1: Machine Learning</h3>
            <ul class="list-inner text-center">
              <li>Deep learning and neural learning</li>
              <li>Ensemble methods</li>
              <li>Evolutionary learning and nature inspired learning</li>
              <li>Large margin and kernel methods</li>
              <li>Learning from multiple or partial labeling</li>
              <li>Learning in games and multi-agent systems</li>
              <li>Learning theory</li>
              <li>Machine learning applications</li>
              <li>New problems</li>
              <li>Probabilistic models and methods</li>
              <li>Reinforcement learning and on-line learning</li>
              <li>Relation learning and graphs</li>
              <li>Unsupervised learning</li>
            </ul>
          </div>
        </div>
          <div class="row mx-0">
          <div class="col">
            <h3 class="text-center">Track 2: Artificial Intelligence</h3>
            <ul class="list-inner text-center" style="list-style-type: none;">
              <li>Artificial Intelligence Applications</li>
              <li>Artificial Neural Networks (Multi Layer FF) Spiking</li>
              <li>Artificial Neural Networks</li>
              <li>Deep Learning</li>
              <li>Neural Networks</li>
              <li>Fuzzy Logic</li>
              <li>Expert Systems</li>
              <li>Computational Intelligence</li>
              <li>Natural Language Processing</li>
              <li>Data Mining</li>
              <li>Biometrics</li>
              <li>Sentiment Analysis</li>
            </ul>
          </div>
        </div>

        <div class="row mx-0">
          <div class="col">
            <h3 class="text-center">Track 3: Cyber Security</h3>
            <ul class="list-inner text-center" style="list-style-type: none;">
              <li>Critical infrastructure security</li>
              <li>Application security</li>
              <li>Network security</li>
              <li>Cloud security</li>
              <li>Internet of Things (IoT) security</li>
              <li>Cybercrime</li>
            </ul>
          </div>
        </div>

        <div class="row mx-0">

          <div class="col">
            <h3 class="text-center">Track 4: Miscellaneous</h3>
            <ul class="list-inner text-center" style="list-style-type: none;">
              <li>Emerging applications of AI and ML in manufacturing technology</li>
              <li>Development in Micro-electronics, Wireless technology and Renewable technology using AI and ML</li>
            </ul>
          </div>
        </div>
      </section>

    </section>

  </section>


<%- include("footer"); -%>
