<%- include("header"); -%>
<section class="registration-section">

  <div class="registration-section-content">

    <div class="row">
      <div class="col d-flex justify-content-center">
        <h1>Conference Committee </h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col ">

        <p><strong>Chief Patron</strong></p>
        <p>Hon'ble Sh. Anil Kumar Gupta, Chairman, HMRITM</p>
</div>
        <p><strong>Patron</strong></p>
        <p>  Sh. N. K. Sharma, IAS (R)</p>

        <p> <strong>Organizing Chair </strong></p>
        <p>  Prof. (Dr.) V.C. Pandey, Director, HMRITM</p>

        <p><strong>Organizing Secretary</strong></p>
        <p>Prof. (Dr.) Shalini Gupta, Dy. Director, HMRITM</p>

        <p><strong>Convener</strong></p>
        <p>Dr. Md Ehsan Asgar, HMRITM</p>

        <p><strong>Co-convener</strong></p>
        <p>Mr. Gyanendra, HMRITM</p>

        <p><strong>Organizing Committee</strong></p>
        <p>
          <ul>
          <li>Dr. Shalini Goyal, HMRITM</li>
          <li>Dr. Narender Kumar, HMRITM</li>
          <li>Dr. Virendra Yadav, HMRITM</li>
          <li>Dr. Ravindra Kumar, HMRITM</li>
          <li>Dr. Seema Malik, HMRITM</li>
          <li>Dr. Sanjeev Uppal, HMRITM</li>
          <li>Dr. Padmaja Panda, HMRITM</li>
          <li>Dr. Chinmayee Tripathi, HMRITM</li>
          <li>Dr. Taruna Sharma, HMRITM</li>
          <li>Dr. Teena, HMRITM</li>
          <li>Dr. Archna Sahay, HMRITM</li>
          <li>Dr. Mukta Parashar, HMRITM</li>
          <li>Dr. Divya Singh, HMRITM</li>
          <li>Dr. Monika Sharma, HMRITM</li>
          <li>Dr. Shivangi, HMRITM</li>
        </ul>
      </p>

      </div>
    </div>




</section>


<%- include("footer"); -%>
