<%- include("header"); -%>

<section class="body-background">
  <section class="m-auto body-text-background-other">

      <section class="spacing-responsive py-4">
          <div class="row mx-0 text-center">
              <div class="col">
                  <h2><strong>Conference Committee</strong></h2>
                  
                  <h3 class="text-center pt-2"><em>Chief Patron</em></h3>
                  <p>Hon'ble Sh. Anil Kumar Gupta, Chairman, HMRITM</p>

                  <h3 class="text-center"><em>Patron</em></h3>
                  <p>Sh. N. K. Sharma, IAS (R)</p>

                  <h3 class="text-center"><em>Organizing Chair</em></h3>
                  <p>Prof. (Dr.) V.C. Pandey, Director, HMRITM</p>

                  <h3 class="text-center"><em>Organizing Secretary</em></h3>
                  <p>Prof. (Dr.) Shalini Gupta, Dy. Director, HMRITM</p>

                  <h3 class="text-center"><em>Convener</em></h3>
                  <p>Dr. Md Ehsan Asgar, HMRITM</p>

                  <h3 class="text-center"><em>Co-convener</em></h3>
                  <p>Mr. Gyanender Kumar, HMRITM</p>

                  <h3 class="text-center"><em>Organizing Committee</em></h3>
                  <ul class="list-inner">
                    <li>Dr. Shalini Goyal, HMRITM</li>
                    <li>Dr. Narender Kumar, HMRITM</li>
                    <li>Dr. Virendra Yadav, HMRITM</li>
                    <li>Dr. Ravindra Kumar, HMRITM</li>
                    <li>Dr. Seema Malik, HMRITM</li>
                    <li>Dr. Sanjeev Uppal, HMRITM</li>
                    <li>Dr. Padmaja Panda, HMRITM</li>
                    <li>Dr. Chinmayee Tripathi, HMRITM</li>
                    <li>Dr. Taruna Sharma, HMRITM</li>
                    <li>Dr. Teena, HMRITM</li>
                    <li>Dr. Archna Sahay, HMRITM</li>
                    <li>Dr. Mukta Parashar, HMRITM</li>
                    <li>Dr. Divya Singh, HMRITM</li>
                    <li>Dr. Monika Sharma, HMRITM</li>
                    <li>Dr. Shivangi, HMRITM</li>
                  </ul>


              </div>

              
          </div>            
      </section>
  </section>
</section>

<%- include("footer"); -%>
