<%- include("header"); -%>

  <section class="body-background">
    <section class="m-auto body-text-background-other">

      <section class="spacing-responsive py-4">
        <div class="row mx-0 text-center">
          <div class="col">

            <h2 class="text-center"><strong>Important Dates</strong></h2>

            <p class="text-center">
              <strong>
                Dates of the conference:
              </strong>
              <em>
                March 23-24, 2023
              </em>
            </p>
            <p class="text-center">
              <strong>
                Deadline for submission:
              </strong>
              <em>
                March 05, 2023
              </em>
            </p>

            <p class="text-center">
              <strong>
                Acceptance Notification:
              </strong>
              <em>
                March 15, 2023
              </em>
            </p>

            <p class="text-center">
              <strong>
                Camera Ready Paper:
              </strong>
              <em>
                March 15, 2023
              </em>
            </p>

            <p class="text-center">
              <strong>
                Early Bird Registration:
              </strong>
              <em>
                March 15, 2023
              </em>
            </p>

            <div class="d-flex justify-content-center">
              <button class="btn w-50" type="button">
                <a class="text-decoration-none text-white"
                  href="https://drive.google.com/file/d/1SSi2O68Ke5vEhf3MHrx7Xs_quCX1SGYR/view?usp=share_link">
                  Download Conference Brochure
                </a>
              </button>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>

  <%- include("footer"); -%>