<%- include("header"); -%>
<!-- Guidelines Section -->
<section class="dates-section">

  <div class="dates-content">
    <h1>Important Dates</h1>

    <div class="row">

      <div class="col">
        <p>Dates of the conference: - March 23-24, 2023</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Submission Deadline: - February 10, 2023</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Acceptance Notification: - February 25, 2023</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Camera Ready Paper: - March 5, 2023</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Early Bird Registration: - March 10, 2023</p>
      </div>
    </div>

    <div class="guideline-buttons d-grid gap-2">
       <button class="btn btn-primary" type="link"><a style="text-decoration: none; color: white;"
                href="https://drive.google.com/file/d/1B2ny4BHacc3cqz-G0Ee25uD4kbrvXIk2/view">
                Download Conference Brochure</a></button>
    </div>
  </div>

</section>


<%- include("footer"); -%>
