
    <footer class="text-center text-light text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact Us</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <img src="college-logo.png" alt="">
                        </li>
                        <li>
                            <p>HMR Institute of Technology and Management, New Delhi, India</p>
                        </li>
                        <li>
                            <p><strong>Email ID:</a></strong>
                              icamc@hmritm.ac.in</p>
                        </li>
                        <li>
                            <p><strong>Contact:</a></strong>
                                +91 9999629550</p>
                        </li>
                        <li>
                          <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button"
                              data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

                          <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button"
                              data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <div class="ratio ratio-16x9">
                            <iframe class="shadow-1-strong rounded"  title="Map Link" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3495.5056192136417!2d77.15033821541492!3d28.823803082148288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390daaf4c884f85b%3A0x1c00e11a9ce7433c!2sHMR%20Institute%20of%20Technology%20and%20Management!5e0!3m2!1sen!2sin!4v1676795384119!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            
                    </div>
                </div>
            </div>
            </div>


        <div class="text-center aakhri p-3">
            © 2023 Copyright:
            <a class="text-light" href="/">HMRITM</a>
        </div>

    </footer>



</body>

</html>
