<%- include("header"); -%>
    <!-- Guidelines Section -->

    <section class="body-background">
        <section class="m-auto body-text-background-other">

            <section class="spacing-responsive py-4">
                <div class="row mx-0">
                    <div class="col">
                        <h2 class="text-center"><strong>Guidelines</strong></h2>
                        <p class="text-center">
                            All papers must be original and not simultaneously submitted to another journal or
                            conference. The following paper categories are welcome:
                        </p>

                        <ul class="text-left">
                            <li>Full papers describing recent developments in the areas of Artificial Intelligence,
                                Machine Learning
                                and Cyber Security are welcome for oral presentation and poster presentation.
                                The papers submitted need to be atleast 2500 words and will be subjected to peer review,
                                plagiarism
                                / quality checks and registration by atleast one of the authors before inclusion in the
                                conference
                                proceeding. Without registration, No paper will be included in proceeding / journals.
                            </li>
                            <li>All the manuscripts must adhere to Author guidelines available at
                                <a
                                    href="https://www.springer.com/us/authors-editors/conference-proceedings/conference-proceedings-guidelines">
                                    https://www.springer.com/us/authors-editors/conference-proceedings/conference-proceedings-guidelines</a>
                            </li>
                            <li>Decision of the organizers will be final and binding.</li>
                        </ul>

                        <div class="d-flex justify-content-center">
                            <button class="btn w-50" type="button">
                                <a class="text-decoration-none text-white"
                                    href="https://drive.google.com/file/d/1SSi2O68Ke5vEhf3MHrx7Xs_quCX1SGYR/view?usp=share_link">
                                    Download Conference Brochure
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <%- include("footer"); -%>