<%- include("header"); -%>

<section class="body-background">
  <section class="m-auto body-text-background-other">

      <section class="spacing-responsive py-4">
          <div class="row mx-0">
              <div class="col">
                  <h2 class="text-center"><strong>Advisory Board</strong></h2>
                
                  <div class="d-flex justify-content-center">
                    <table class="table">
                      <tr>
                          <th>Name</th>
                          <th>Organization</th>
                      </tr>
    
                      <!-- <tr>
                          <td>DR. Subhajit Ghosh</td>
                          <td>Manav Rachna International Institute of Research and Studies (CSE Department - IBM Specialization)</td>
                      </tr>
                      <tr>
                          <td>DR. LAXMI AHUJA</td>
                          <td>Amity Institute of Information Technology</td>
                      </tr>
                      <tr>
                          <td>DR. Ajay Rana</td>
                          <td>Amity Institute of Information Technology, Amity University</td>
                      </tr>
    
                      <tr>
                          <td>DR. K. KALAISELVI</td>
                          <td>Computer Applications, Vels Institute of Science Technology and Advanced Studies</td>
                      </tr>
    
                      <tr>
                          <td>DR. Rajanikanth Aluvalu</td>
                          <td>Department of CSE, vardhaman college of
                            Engineering
                            </td>
                      </tr>
    
                      <tr>
                        <td>DR. Amit P. Ganatra</td>
                        <td>Computer Engineering & Devang Patel Institute of Advance Technology and Research</td>
                      </tr>
    
                      <tr>
                        <td>DR. Nadir N. Charniya</td>
                        <td>Vivekanand Education Societys Institute of
                            Technology
                            </td>
                      </tr>
    
                      <tr>
                        <td>Mr. Amrit Chhetri</td>
                        <td>IT Security | MCH, RCS(Siliguri)</td>
                      </tr>
                      <tr>
                        <td>Prof. Narendra Pal Singh Rathore</td>
                        <td>Computer Science and Engineering, Acropolis Institute of Technology and Research</td>
                      </tr>
                      <tr>
                        <td>DR. Mazin Abed Mohammed</td>
                        <td>Information Systems Department, College of Computer Science and Information Technology,
                            University of Anbar Iraq
                            </td>
                      </tr>
                      <tr>
                        <td>
                            DR. Rita Chhikara
                            </td>
                        <td>The NorthCap University</td>
                      </tr>
                      <tr>
                        <td>DR. Vijayakumar Ponnusamy</td>
                        <td>ECE & SRM Institute of Science and Technology</td>
                      </tr>
                      <tr>
                        <td>DR. R. Sujatha</td>
                        <td>School of Information Technology & Engineering, Vellore Institute Of Technology
                        </td>
                      </tr>
                      <tr>
                        <td>DR. R K NADESH</td>
                        <td>Vellore Institute of
                            Technology
                            </td>
                      </tr>
                      <tr>
                        <td>DR. Vishal Jain</td>
                        <td>Sharda University, India</td>
                      </tr>
                      <tr>
                        <td>DR. Nripendra Narayan Das</td>
                        <td>Department of Information Technology, Manipal university Jaipur
                        </td>
                      </tr>
                      <tr>
                        <td>Mr. Prashant Giridhar Shambharkar</td>
                        <td>Computer Science & Engineering, Delhi Technological University,
                            Delhi
                            </td>
                      </tr>
                      <tr>
                        <td>DR. PRAKASH GOPALAKRISHNA
                            N
                            </td>
                        <td>Computer Science and Engineering, Amrita Vishwa Vidyapeetham,
                            Bengaluru
                            </td>
                      </tr>
                      <tr>
                        <td>DR. Mehak Khurana
                        </td>
                        <td>CSE, The NorthCap University
    
                        </td>
                      </tr>
                      <tr>
                        <td>DR. Sujata
                        </td>
                        <td>Department of Computer Science, The NorthCap University
                        </td>
                      </tr> -->
                  </table>
                  </div>
                  
  
              </div>
          </div>            
      </section>
  </section>
</section>

<%- include("footer"); -%>
