<%- include("header"); -%>

  <section class="body-background">
    <section class="m-auto body-text-background-other">

      <section class="spacing-responsive py-4">
        <div class="row mx-0">
          <div class="col">
            <h2 class="text-center"><strong>Advisory Board</strong></h2>

            <div class="d-flex justify-content-center">
              <table class="table">
                <tr>
                  <th>Name</th>
                  <th>Organization</th>
                  <th>Country</th>
                </tr>

                <tr>
                  <td>Prof. Valentina Emilia Balas</td>
                  <td>Automation and Applied Informatics, Aurel Vlaicu” University of Arad</td>
                  <td>Romania</td>
                </tr>
                <tr>
                  <td>Prof. Arun Sharma</td>
                  <td>Indira Gandhi Technical University For Women</td>
                  <td>India</td>
                </tr>
                <tr>
                  <td>Prof. Sujata Dash</td>
                  <td>Maharaja Sriram Chandra Bhanja Deo Univerity</td>
                  <td>India</td>
                </tr>

                <tr>
                  <td>Prof. Dr.Subhendu Kumar Pani</td>
                  <td>OEC, BPUT</td>
                  <td>India</td>
                </tr>

                <tr>
                  <td>DR. Laxmi Ahuja</td>
                  <td>Amity Institute of Information Technology</td>
                  <td>India</td>
                </tr>

                <tr>
                  <td>DR. Seema Nayak</td>
                  <td>IIMT College of Engineering, Greater Noida</td>
                  <td>India</td>
                </tr>

                <tr>
                  <td>DR. Sujatha Kesavan</td>
                  <td>Dr.MGR Educational & Research Institute</td>
                  <td>India</td>
                </tr>

                <tr>
                  <td>DR. Nadir N. Charniya</td>
                  <td>Vivekanand Education Societys Institute of Technology</td>
                  <td>India</td>
                </tr>
                <tr>
                  <td>DR. Tej Singh</td>
                  <td>DTU DELHI</td>
                  <td>India</td>

                </tr>
                <tr>
                  <td>Prof. Shashikant Patil</td>
                  <td>SVKMs NMIMS Mumbai India</td>
                  <td>India</td>

                </tr>
                <tr>
                  <td>DR. Soumi Dutra</td>
                  <td>Institute of Engineering & management</td>
                  <td>India</td>
                </tr>
                <tr>
                  <td>DR. Zdzislaw Polkowski</td>
                  <td>Department of Humanities and Social Sciences, The Karkonosze State University of Applied Sciences in Jelenia Góra</td>
                  <td>Poland</td>
                </tr>
                <tr>
                  <td>Dr.T.S.Murugesh</td>
                  <td>Government College of Engineering Srirangam Tiruchirappalli</td>
                  <td>India</td>
                </tr>
                <tr>
                  <td>Jupeth Toriano Pentang</td>
                  <td>Western Philippines University</td>
                  <td>Philippines</td>
                </tr>
                <tr>
                  <td>Dmitrii Kruglov</td>
                  <td>St. Petersburg State University of Economics</td>
                  <td>Russia</td>
                </tr>
                <tr>
                  <td>Maria Koksharova</td>
                  <td>St. Petersburg State University of Economics</td>
                  <td>Russia</td>
                </tr>
              </table>
            </div>


          </div>
        </div>
      </section>
    </section>
  </section>

  <%- include("footer"); -%>