<%- include("header"); -%>

<section class="body-background">
    <section class="m-auto body-text-background-other">

        <section class="spacing-responsive py-4">
            <div class="row mx-0 text-center">
                <div class="col">
                    <h2><strong>Publication</strong></h2>
                    <p>
                        Selected papers will be published in prestigious book series with ISBN number or Scopus indexed journals* or UGC journals.
                    </p>
                </div>
            </div>            
        </section>
    </section>
</section>

<%- include("footer"); -%>
