<%- include("header"); -%>
<section class="registration-section">

    <div class="registration-section-content">

        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1>Publication</h1>

            </div>
        </div>


        <div class="row"></div>
        <div class="col d-flex justify-content-center">
          <p>
Selected papers will be published in prestigious book series with ISBN number or Scopus indexed journals* or UGC journals.</p>
        </div>

    </div>

 </section>


<%- include("footer"); -%>
