<%- include("header"); -%>
<section class="registration-section">

    <div class="registration-section-content">

        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1>Registration Fee</h1>
            </div>
        </div>

        <div class="row ">
          
            <div class="col d-flex justify-content-center">
                <table class="table" style="width: 50%;">
                    <tr>
                        <th></th>
                        <th>Early Bird Registration Fee</th>
                        <th>Post Early Bird Registration Fee</th>
                    </tr>
                    <tr>
                        <td>Faculty/Academician Participants</td>
                        <td>₹1700</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Research Scholars/Students</td>
                        <td>₹1200</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Industry Participants</td>
                        <td>₹2000</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Foreign Participants</td>
                        <td>USD 50</td>
                        <td>-</td>
                    </tr>
                </table>

            </div>

        </div>

        <div class="row">
        <div class="col d-flex justify-content-center">
            <button class="btn btn-primary" type="button">Register</button>
            
        </div>
    </div>

    <div class="row">
    <div class="col d-flex justify-content-center">
        <button class="btn btn-primary" type="button">Payment Link</button>
    </div>
</div>
    </div>

 </section>


<%- include("footer"); -%>
