<%- include("header"); -%>
    <section class="registration-section">

        <div class="registration-section-content">

            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h1>Paper Submission Links</h1>
                </div>
            </div>


            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h3>You can submit your paper at:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-primary" type="button"><a style="text-decoration: none; color: white;"
                        href="https://docs.google.com/forms/d/1ey5MNQYoyOm8v7sornz-R8CdmFvtrAi-9jmb037uC-I/edit">
                        Paper Submission Link</a></button>
                </div>
            </div>

            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h3>Author outside of India can submit their papers at the link below:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col pb-5 d-flex justify-content-center">
                    <button class="btn btn-primary" type="button"><a style="text-decoration: none; color: white;"
                        href="https://easychair.org/conferences/?conf=icamc2023">
                        Paper Submission Link (For Authors Outside India)</a></button>
                </div>
            </div>


        </div>

    </section>


    <%- include("footer"); -%>